{% extends "layout.html.twig" %}

{% block content %}
	<div class="card m-4">
		<div class="card-header">
			<h1 class="text-center">Thumbnail So  - Test</h1>
			<h2 class="text-center">Target directory - ./example</h2>
		</div>
		<div class="card-body">
			<div class="col-12">
				<form method="post" enctype="multipart/form-data" action="send">
					<div class="form-group m-4">
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="file" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="storage" id="local" value="local" checked>
						<label class="form-check-label" for="local">
							Local Storage
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="storage" id="aws" value="s3">
						<label class="form-check-label" for="aws">
							AWS S3
						</label>
					</div>
					<div class="form-check disabled">
						<input class="form-check-input" type="radio" name="storage" id="dropbox" value="dropbox">
						<label class="form-check-label" for="exadropboxpleRadios3">
							Dropbox
						</label>
					</div>
					<div class="mt-4 col-md-12 text-center">
						<input type="submit" class="btn btn-primary" name="send" value="Send">
					</div>
				</form>


			</div>
		</div>
	</div>
	{% for message in app.session.getFlashBag.get('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
	{% for message in app.session.getFlashBag.get('error') %}
		<div class="alert alert-danger" role="alert">{{ message }}</div>
	{% endfor %}
{% endblock %}
